@CHARSET "ISO-8859-1";

input.formButton {
	background-color: orange;
	padding: 4px;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	border: solid #000000;
	font-family: sans-serif;
	font-size: 12pt;
}

input.button {
	background-color: orange;
	margin: 4px;
	margin-bottom: 15px;
	padding: 4px;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	border: solid #000000;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 12pt;
}

input.button:hover , a.button:hover {
	background-color: darkGoldenRod;
}

input.smallButton {
	background-color: orange;
	margin: 2px;
	padding: 2px;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	border: solid #000000;
	border-width: 2px;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 10pt;
}

input.smallButton:hover {
	background-color: darkGoldenRod;
}