@CHARSET "ISO-8859-1";

input.button , a.button , input.formButton , input.smallButton , 
	a.listButton , input.smallResultButton , input.smallLoginButton {
	background-color: orange;
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
	border: solid #000000;
	cursor: pointer;
	font-size: 12pt;
	margin: 7px;
	padding: 7px;
}

input.smallResultButton {
	margin: -1;
	padding: 2;
}

a.listButton {
	margin: 7px;
	padding: 7px;
}

input.smallButton , input.smallLoginButton , input.smallResultButton {
	margin: 2px;
	padding: 2px;
	font-size: 10pt;
}

input.smallLoginButton {
	margin-bottom: 10;
}

input.button:hover , a.button:hover  , input.formButton:hover  , input.smallButton:hover  , 
	a.listButton:hover  , input.smallResultButton:hover  , input.smallLoginButton:hover  {
	background-color: darkGoldenRod;
}
