@CHARSET "ISO-8859-1";

* {
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #0582f7;
}

.center {
	text-align: center;
}

.plainText {
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
}

.group {
	border: solid #000000
}

.button {
	background-color: orange;
	padding: .2cm;
}

.wrapper {
	min-height: 100%;
	height: auto;
	height: 100%;
}

.footer {
	background-color: black;
	padding: .4cm;
}

.whiteOnBlack {
	color: white;	
}
