@CHARSET "ISO-8859-1";

.center {
	text-align: center;
}

.plainText {
	color: black;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: bold;
}

.group {
	border: solid #000000
}

body {
	background-color: #0582f7
}

.extraBottomPad {
}

.button {
	background-color: orange;
	padding: .2cm;
}

.footer {
	background-color: black;
	padding: .4cm;
}

.whiteOnBlack {
	color: white;	
}
